body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#153677,#4e085f);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;

}


.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:seashell;
    height: auto;
    width:600px;
    margin-top: 15px;
    border-radius: 5px;
}
.container h1{
    color:#002765;
}

.inputContainer{
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

::placeholder{
    color: seashell;
    opacity:1;
}
.inputContainer input{
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    border: 4px;
    border-radius:12px ;
    color: seashell;
    background:rgba(225, 8, 113, 0.462);
    width: 340px;
    left: 10px;
}

#btnAdd{
    color:black;
    background:springgreen;
    border: none;
    margin-left: 10px;
    height: 33px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn{
    color: seashell;
    background:tomato;
    border: none;
    margin-left: 10px;
    height: 33px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.listContainer ul{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 4px;
    border-radius: 5px;
    color:black;
    background:springgreen;
    width: 400px;
    margin-top: 5px;
    position: relative;
    height: 35px;
}

#btnRemove{
    position: absolute;
    right: 10px;
}

#btnEdit{
    position: absolute;
    right: 10px;
}